<h1 class="mt-5 mb-5">Users</h1>
<div class="row">
  <div class="col-lg-6 mb-4" id="users-list"></div>
  <div class="col-lg-6">
    <h3 class="mb-4">Add new user</h3>
    <form id="users-form">
      <input type="text" class="form-control mb-2" name="admin-input-login" placeholder="Enter login">
      <input type="text" class="form-control mb-2" name="admin-input-password" placeholder="Enter password">
      <div class="form-check mb-4">
        <input type="checkbox" class="form-check-input" name="admin-input-isadmin">
        <label class="form-check-label" for="admin-input-isadmin">Admin</label>
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>

</div>
