<h1 class="mt-5 mb-5">Your tasks here</h1>
<div class="row gx-3">
  <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
    <div class="card rounded-3 app-column">
      <div class="card-header">
        <h4 class="card-title">Backlog</h4>
      </div>
      <div class="card-body">
        <div class="app-tasks" data-id="backlog"></div>
        <div class="app-input-wrapper" data-id="backlog"></div>
        <button type="button" class="btn app-add-btn" data-id="backlog" data-function="add">+ Add task</button>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
    <div class="card rounded-3 app-column">
      <div class="card-header">
        <h4 class="card-title">Ready</h4>
      </div>
      <div class="card-body">
        <div class="app-tasks" data-id="ready"></div>
        <div class="app-input-wrapper" data-id="ready"></div>
        <button type="button" class="btn app-add-btn" data-id="ready" data-function="add">+ Add task</button>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
    <div class="card rounded-3 app-column">
      <div class="card-header">
        <h4 class="card-title">In progress</h4>
      </div>
      <div class="card-body">
        <div class="app-tasks" data-id="inprogress"></div>
        <div class="app-input-wrapper" data-id="inprogress"></div>
        <button type="button" class="btn app-add-btn" data-id="inprogress" data-function="add">+ Add task</button>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
    <div class="card rounded-3 app-column">
      <div class="card-header">
        <h4 class="card-title">Finished</h4>
      </div>
      <div class="card-body">
        <div class="app-tasks" data-id="finished"></div>
        <div class="app-input-wrapper" data-id="finished"></div>
        <button type="button" class="btn app-add-btn" data-id="finished" data-function="add">+ Add task</button>
      </div>
    </div>
  </div>
</div>