<h1>Your tasks here</h1>
<div class="row gx-3">
  <div class="col">
    <div class="card rounded-3">
      <div class="card-body">
        <h4 class="card-title mb-3">Backlog</h4>
        <div class="app-tasks" data-id="backlog"></div>
        <div class="app-input-wrapper" data-id="backlog"></div>
        <button type="button" class="btn app-add-btn" data-id="backlog" data-function="add">+ Add task</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card rounded-3">
      <div class="card-body">
        <h4 class="card-title mb-3">Ready</h4>
        <div class="app-tasks" data-id="ready"></div>
        <div class="app-input-wrapper" data-id="ready"></div>
        <button type="button" class="btn app-add-btn" data-id="ready" data-function="add">+ Add task</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card rounded-3">
      <div class="card-body">
        <h4 class="card-title mb-3">In progress</h4>
        <div class="app-tasks" data-id="inprogress"></div>
        <div class="app-input-wrapper" data-id="inprogress"></div>
        <button type="button" class="btn app-add-btn" data-id="inprogress" data-function="add">+ Add task</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card rounded-3">
      <div class="card-body">
        <h4 class="card-title mb-3">Finished</h4>
        <div class="app-tasks" data-id="finished"></div>
        <div class="app-input-wrapper" data-id="finished"></div>
        <button type="button" class="btn app-add-btn" data-id="finished" data-function="add">+ Add task</button>
      </div>
    </div>
  </div>
</div>